{
    "ConnectionConfiguration": {
        "Url": "https://orgXXXXXX.crm4.dynamics.com/",
        "UserName": "firstnameLastname@companyname.onmicrosoft.com",
        "Password": "secretpassword123"
    }
}
